
<div class="container">
    <!-- Large Feature Box -->
    <div class="hero">
      <br />
      <div class="frosty col-10 offset-1 text-center">
        <br />
        <h1>Core Trainer</h1>
        <br />
        <h2>A tool for Personal Trainers and Members to connect</h2>
        <br />
        <div class="btn">
        <%= link_to 'Members', new_user_registration_path, class: 'btn btn-start' %><%= link_to 'Trainers', new_user_registration_path, class: 'btn btn-start' %>
        <br /><br />
      </div>
    </div>
    <br />
  </div>

  <!-- 3 Feature Box -->
  <div class="row feature text-center">
    <!-- Left Box -->
    <div class="col-12 col-sm">
      <h3>Record Workouts</h3>
      <br />
      <br />
      <p>Add, Edit, Remove and, Schedule workouts from your dashboard!</p>
    </div>
    <!-- Center Box -->
    <div class="col-12 col-sm">
      <h3>Connect with a Trainer</h3>
      <br />
      <p>Access an archive of local trainers and book an appointment today!</p>
    </div>
    <!-- Right Box -->
    <div class="col-12 col-sm">
      <h3>Measure Progress</h3>
      <br />
      <br />
      <p>Keep track of your goals with your dashboard and schedule views!</p>
    </div>
  </div>
</div>

<img class="img1" src="https://images.unsplash.com/photo-1517836357463-d25dfeac3438?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80">
<div class="discription">
<h3>Record Workouts</h3>
<p>When your working out with a trainer, you will have the ability to record your reps and weights. You will be able to see the progress you are making</p>
<img class="img2" src="https://images.unsplash.com/photo-1535743686920-55e4145369b9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1189&q=80">

<img class="img3" src="https://images.unsplash.com/photo-1517963628607-235ccdd5476c?ixlib=rb-1.2.1&auto=format&fit=crop&w=1051&q=80">
<br>
