<p id="notice"><%= notice %></p>

<%= link_to "Register as a Personal Trainer", "#", class: 'btn-lg btn btn-warning button btn-block' %>

<%= link_to 'Edit', edit_client_path(@client) %>
<%= link_to 'Back', clients_path %>
