<br />
	<div class="booyah-box col-10 offset-1 text-center">
	  <h1>Role</h1>
	  <strong><h3>Select your account type</h3></strong>
		<br>
		<%= link_to "New Trainer", new_role_path, class: 'btn-lg btn btn-info button btn-block' %>
		<%= link_to "New Client", new_role_path, class: 'btn-lg btn btn-info button btn-block' %>
		<br>
	</div>
<img src="https://images.unsplash.com/photo-1434754205268-ad3b5f549b11?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2553&q=80">
<br>