@import "bootstrap";
@import "font-awesome";

.navbar {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 400;
  letter-spacing: 4px;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: grey;
}

.navbar-inverse a.navbar-brand {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  color: white;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #f4f3f3;
  border: 1ps solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  padding: 10px;
}

.card-img {
  max-width: 100%;
  max-height: 100%;
}

.btn {
  border-radius: 0;
}
.btn-success {
  color: white;
  background-color: #666666;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 300;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.feature {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 0%;
  margin-bottom: 5%;
  border: solid white 2px;
  border-radius: 6%;
  color: #165e82;
}

body {
  font-family: "Helvetica Neue", Helvetica;
  background: image_url('dark_wood.png');
}

footer {
  border-top: solid black 1px;
  padding-top: 1%;
  padding-bottom: 1%;
  background-color: #292b2c;
  color: white
}
