@import "bootstrap";
@import url('https://fonts.googleapis.com/css?family=Abel|Montserrat|Raleway&display=swap');

.navbar {
  font-family: 'Abel', sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  box-shadow: 0px 1px 3px #2a2a2a;
  background: grey;
}

.navbar-inverse a.navbar-brand {
  font-family: 'Abel', sans-serif;
  font-weight: 250;
  color: white;
}

.hero {
  background: image_url('hero.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 370px;
  box-shadow: 0px 3px 8px #2a2a2a;
}

h1, h2, h3, h4, h5, h6, .navbar {
  margin: 0;
}

.frosty {
  background: rgba(0, 0, 0, 0.5);
  color: white;
}

.frosty h1 {
  font-family: 'Abel', sans-serif;
  font-weight: 100;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.frosty h2 {
  font-family: 'Abel', sans-serif;
  font-weight: 200;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.booyah-box h2, .booyah-box h1 {
  margin: 10px;
}

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #f4f3f3;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  border-radius: 3px;
  padding: 10px;
}


.card-img {
  max-width: 100%;
  max-height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
  vertical-align: center;
}

.btn {
  border-radius: 3;
}

.btn-start {
  color: rgb(248, 245, 245);
  background-color: #317da3;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  font-family: "Helvetica Neue", Helvetica;
  font-weight: 400;
  text-shadow: rgba(0, 0, 0, 0.95) 1px 1px;
}

.btn-start:hover {
  color: white
}

.feature {
  color: #317da3;
  margin: 5% 5% 5% 0%;
  padding: 5%;
  border: solid white 2px;
  text-align: bottom;
}

h1{
  font-family: 'Montserrat', sans-serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: bold;
  font-size: 78px;
}

h2{
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 29px; 
}

p  {
  font-family: 'Raleway', sans-serif;
  font-size: 17px;
}

body {
  font-family: 'Open Sans', sans-serif;
  background: image_url('dark_wood.png');
  margin-bottom: 60px;  /* Margin bottom by footer height */
}

html { 
  position: relative;  /* Imported with footer settings */
  min-height: 100%;

  scroll-behavior: smooth;  /* Imported down button settings on home page titled 'learn more' */
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; /* Set the fixed height of the footer here */
  line-height: 60px; /* Vertically center the text there */
  background-color: grey;
  margin: 1px;
}


.form-actions {
  text-align: center;
  border-top: solid darkorange 2px; /* Design line above Devise forms */
  padding-top: 6%;
 }

.form-inputs {
  margin: 1%;
  padding: 1%;
 }

.checkbox {
  text-align: center; /* Moves custom field for "I'm a Trainer checkbox" in views/devise/registrations/new.html.erb */
 }

.form-check {
  text-align: center; /* Moves allcheck-boxes within the Devise forms */
}


.devise-links {
  text-align: right;  /* effects Devise form pages: moves login/signup form links to the right - MD */
 }

 .img1 { 
  width: 600px;
  height: auto;
  float: left;
  margin: 1% 1% 3% 1%;
 }

 .img2 { 
  width: 600px;
  height: auto;
  float: right;
  margin: 1% 0% 3% 1%
 }

 .img3 { 
  width: 600px;
  height: auto;
  float: left;
  margin: 1% 1% 3% 1%;
 }

 .container {
   color: #317da3;
 }

 .span4 img {
  margin-right: 6px;
}
.span4 .img-left {
  float: left;
}
.span4 .img-right {
  float: right;
}